@import '../utilidades/variables';
@import 'mediaQueries';


/*   MAIN   */
.loMasVendidoMain {
    padding: 2rem 4rem;
    background: linear-gradient(to bottom, $colorSecundario, $colorTerciario);

    @include mobile {
        padding: 2rem 1rem
    }
}

.loMasVendidoMain__modalProducto {

    &:focus {
        box-shadow: none;
    }

}